@import url("https://fonts.googleapis.com/css2?family=Concert+One:wght@400;700&display=swap");

.registration-wrapper {
  display: flex;
  justify-content: center;
 
  background-color: #DFA100;
  width: 900px;
  
  border-radius: 15px;
  font-family: "Concert One";
  margin-top: 50px;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto; 
}
  
.firstString{
  display: flex;

}

.firstString_name{
  padding-right: 50px;
}
.firstString_surname{
  padding-left: 50px;
}

.secondString{
  display: flex;
}
.secondString_nickname{
  padding-right: 50px;
}
.secondString_dateOfBirth{
  padding-left: 50px;
}

.login{
  
  justify-content: center;
  align-items: center;
  text-align: center;
}

.password{

  justify-content: center;
  align-items: center;
  text-align: center;
}
.text{
    font-size: 150%;
   text-align: left;
   padding-left: 10px;
   
}


  
input {
  height: 50px;
  width: 250px;
  text-align: center; 
  
  border: 1px solid #DCBF02;
  border-radius: 15px;
  background-color: #DCBF02;
  margin-left: auto; 
  margin-right: auto; 
  

  font-family: "Concert One";
  font-size: 150%;
}

.Password{
  width: 210px;
}
  
  .create_account {
    justify-content: center;
    width: 250px;
    display: flex;
    background-color: #D9DD05;
    color: #000000;
    padding: 10px;
    border: 1px solid #D9DD05;
    border-radius: 15px;
    cursor: pointer;
    font-size: 150%;
    font-family: sans-serif;
    font-family: "Concert One";
    margin-top: 10px;
    flex-grow: 1;
    margin-bottom: 10px;
    margin-left: auto; 
    margin-right: auto; 
  }
  
  .create_account:hover {
    will-change: transform;
    background-color: #FAFF08;
    transition: all 0.3s ease-in;
  }

  password{
    
   display: flex;
    background-color: #DCBF02;
    border-radius: 20px;
    border: 1px;
    height: 55px;
    width: 250px;
  text-align: center; 
  
  border: 1px solid #DCBF02;
  border-radius: 15px;
  background-color: #DCBF02;
  box-sizing: border-box;
  }
  .Pass_eye{
    width: 30px;
    border-color: #000000;
    background-color: #DCBF02;
    
  }
.eye{
  padding: 0;
  background-color: #DCBF02;
  border: none;
  border-radius: 15px;
}
