@import url("https://fonts.googleapis.com/css2?family=Concert+One:wght@400;700&display=swap");

body{
  background-color: #452B1D;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Concert One";  
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background-color: #DFA100;
  width: auto;
  padding: 0;
  border-radius: 15px; 
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-right: 100px;
  margin-left: 100px;
  will-change: transform;
  transition: all 0.3s ease-in;
}

.item_u {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background-color: #D9DD05;
  width: auto;
  padding: 0;
  border-radius: 15px; 
}

.item_u {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-right: 100px;
  margin-left: 100px;
  will-change: transform;
  transition: all 0.3s ease-in;
}


.item__score {  
  flex: 3;
  text-align: right;  
  font-size: 150%;
}

.leaderboard{
  color: #A1A400;
  object-position: center;
  font-size: 350%;
  
}
.Greeting{
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  width: auto;
}
.Greeting__text{
  color: #A1A400;
  object-position: center;
  font-size: 250%;
  
}

.Greeting__icoL{
  width: 70px;
  height: 70px;
  
}

.Greeting__icoR{
  width: 70px;
  height: 70px;
  
}

.Medal{
  width: 25px;
  height: 25px;
 
}

.item__time{
  flex: 1;
  width: 100px;
  text-align: right;
  font-size: 150%;
  margin-right: 50px;
}



.item__index{
  float: left;
  font-size: 150%;
  padding-left: 20px;
}

.item__nickname{
  float: left;
  margin-left: 20px;
  font-size: 150%;
}

.itemOrientation {
  justify-content: space-between;
  background-color: #452B1D;
  width: auto;  
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 10px;
  padding-left: 80px;
  margin-right: 100px;
  margin-left: 100px;
  will-change: transform;
  transition: all 0.3s ease-in;
}



.itemOrientation__score {
  color: #D6D6D6;
  flex: 3;
  text-align: right;  
  font-size: 150%;
}

.itemOrientation__time{
  color: #D6D6D6;
  flex: 1;
  width: 100px;
  text-align: right;
  font-size: 150%;
  margin-right: 50px;
}

.itemOrientation__nickname{
  color: #D6D6D6;
  font-size: 150%;
}

.itemOrientation__index{
  padding-left: 20px;
}

.Greeting_user_account{
  background-color: transparent;
  border:none;
  height: 70px;
  width: 70px;
  text-align: right; 
  justify-content: flex-end;
 
}

.Greeting_user{
  height: 70px;
  width: 70px;
  text-align: right; 
  justify-content: flex-end;
  
}

.Greet_txt{
  display: flex;
  justify-content: center;
  object-position: center;
  align-items: center;
  flex-grow: 6;
}